{
    "openapi": "3.1.0",
    "info": {
        "title": "Kwasu VTE",
        "version": "0.0.1",
        "description": "API documentation for managing Kwara State University Vocational Training System"
    },
    "servers": [
        {
            "url": "https://timadey.alwaysdata.net/api"
        }
    ],
    "security": [
        {
            "http": []
        }
    ],
    "paths": {
        "/v1/academic-sessions": {
            "get": {
                "operationId": "academicSession.index",
                "description": "Retrieves a list of all academic sessions including both active and inactive ones.\nThe response includes session details such as name, start/end dates, and active status.",
                "summary": "Get all academic sessions",
                "tags": [
                    "AcademicSession"
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "All session fetched successfully"
                                            ]
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/AcademicSessionResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    }
                }
            },
            "post": {
                "operationId": "academicSession.store",
                "description": "Creates a new academic session with the provided details. The session will be\ncreated in an inactive state by default.\n\nEnsure academic session dates are in the future i.e. after today.",
                "summary": "Create a new academic session",
                "tags": [
                    "AcademicSession"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "starts_at": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "date-time"
                                    },
                                    "ends_at": {
                                        "type": [
                                            "string",
                                            "null"
                                        ],
                                        "format": "date-time"
                                    }
                                },
                                "required": [
                                    "name"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "201": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Academic session created successfully"
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AcademicSessionResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/academic-sessions/{academicSession}/start": {
            "post": {
                "operationId": "academicSession.start",
                "description": "Activates the specified academic session and automatically deactivates any\ncurrently active session.\n\n- An academic session expires when it's end date is already less than or equal to today",
                "summary": "Start an academic session",
                "tags": [
                    "AcademicSession"
                ],
                "parameters": [
                    {
                        "name": "academicSession",
                        "in": "path",
                        "required": true,
                        "description": "The academic session ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Academic session started successfully"
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AcademicSessionResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/v1/academic-sessions/{academicSession}/end": {
            "post": {
                "operationId": "academicSession.end",
                "description": "Deactivates the specified academic session. Only currently active sessions can be ended.",
                "summary": "End an academic session",
                "tags": [
                    "AcademicSession"
                ],
                "parameters": [
                    {
                        "name": "academicSession",
                        "in": "path",
                        "required": true,
                        "description": "The academic session ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Academic session ended successfully"
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AcademicSessionResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/v1/academic-sessions/{academicSession}": {
            "patch": {
                "operationId": "academicSession.update",
                "summary": "Update an academic session",
                "tags": [
                    "AcademicSession"
                ],
                "parameters": [
                    {
                        "name": "academicSession",
                        "in": "path",
                        "required": true,
                        "description": "The academic session ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "name": {
                                        "type": "string",
                                        "maxLength": 255
                                    },
                                    "starts_at": {
                                        "type": "string",
                                        "format": "date-time"
                                    },
                                    "ends_at": {
                                        "type": "string",
                                        "format": "date-time"
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Academic session updated successfully"
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/AcademicSessionResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/users/{user}/enrollment": {
            "post": {
                "operationId": "enroll-for-skill",
                "description": "Enroll a student user for a particular skill in the current active session.\nThere must be an active academic session and it's must still be valid (not expired)\n\n**Enrollment Status**",
                "summary": "Skill Enrollment",
                "tags": [
                    "Enrollment"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "description": "The user ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "skill_id": {
                                        "type": "string",
                                        "format": "uuid",
                                        "description": "The skill the student wants to enroll for"
                                    }
                                },
                                "required": [
                                    "skill_id"
                                ]
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/EnrollmentResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            },
            "get": {
                "operationId": "get-user-enrollment",
                "description": "Get the enrollment made for this particular student",
                "summary": "Get student enrollment",
                "tags": [
                    "Enrollment"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "description": "The user ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Enrollment retrieved successfully."
                                            ]
                                        },
                                        "data": {
                                            "anyOf": [
                                                {
                                                    "$ref": "#/components/schemas/EnrollmentResource"
                                                },
                                                {
                                                    "type": "null"
                                                }
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/v1/users/{user}/enrollment/pay": {
            "post": {
                "operationId": "enroll-and-pay",
                "description": "- If the `enrollment id` is null (null, not 0) the system will automatically check if there is an existing enrollment for the user,\n- if none, it enrolls the student in a random skill that their level can take\n- Creates a payment record for the enrollment  and returns payment details including the payment gateway URL.",
                "summary": "Pay for Enrollment v2",
                "tags": [
                    "Enrollment"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "description": "The user ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "requestBody": {
                    "content": {
                        "application/json": {
                            "schema": {
                                "type": "object",
                                "properties": {
                                    "enrollment_id": {
                                        "type": [
                                            "integer",
                                            "null"
                                        ]
                                    }
                                }
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "payment_id": {
                                                    "type": "string"
                                                },
                                                "reference": {
                                                    "type": "string"
                                                },
                                                "payment_url": {
                                                    "type": "string"
                                                },
                                                "amount": {
                                                    "type": "number"
                                                },
                                                "currency": {
                                                    "type": "string"
                                                },
                                                "gateway": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "payment_id",
                                                "reference",
                                                "payment_url",
                                                "amount",
                                                "currency",
                                                "gateway"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/enrollments": {
            "get": {
                "operationId": "get-session-enrollments",
                "description": "`Admin:` Get all enrollments made for a particular academic session and/or skill including\nsome details of the student and the skill.\n\n- If no `academic_session_id` is specified, the current active session will be used.\n- If no `skill_id` is specified, all skill enrollments during that session will be included.\n- Results are paginated.",
                "summary": "Get session enrollments",
                "tags": [
                    "Enrollment"
                ],
                "parameters": [
                    {
                        "name": "academic_session_id",
                        "in": "query",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "skill_id",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "description": "The number of items per page for pagination",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/EnrollmentResource"
                                                    }
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "current_page": {
                                                            "type": "integer"
                                                        },
                                                        "from": {
                                                            "type": [
                                                                "integer",
                                                                "null"
                                                            ]
                                                        },
                                                        "last_page": {
                                                            "type": "integer"
                                                        },
                                                        "path": {
                                                            "type": "string"
                                                        },
                                                        "per_page": {
                                                            "type": "integer"
                                                        },
                                                        "to": {
                                                            "type": [
                                                                "integer",
                                                                "null"
                                                            ]
                                                        },
                                                        "total": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "current_page",
                                                        "from",
                                                        "last_page",
                                                        "path",
                                                        "per_page",
                                                        "to",
                                                        "total"
                                                    ]
                                                },
                                                "links": {
                                                    "type": "object",
                                                    "properties": {
                                                        "first": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "last": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "prev": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "next": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "first",
                                                        "last",
                                                        "prev",
                                                        "next"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "items",
                                                "meta",
                                                "links"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/enrollments/{enrollmentId}": {
            "get": {
                "operationId": "get-enrollment-by-id",
                "description": "`Admin:` Get a comprehensive detail about a particular enrollment using it's ID",
                "summary": "Get enrollment by ID",
                "tags": [
                    "Enrollment"
                ],
                "parameters": [
                    {
                        "name": "enrollmentId",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Enrollment retrieved successfully."
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/EnrollmentResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "error": {
                                            "type": "integer",
                                            "enum": [
                                                404
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "error"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    }
                }
            }
        },
        "/v1/enrollments/{enrollment}/pay": {
            "get": {
                "operationId": "pay-for-enrollment",
                "description": "\n\n`Strictly Owner:` Initiate payment for a particular enrollment using the enrollment ID.\n- Creates a payment record and returns payment details including the payment gateway URL.\n- Only the owner of the enrollment can initiate this request.",
                "summary": "Pay for enrollment",
                "deprecated": true,
                "tags": [
                    "Enrollment"
                ],
                "parameters": [
                    {
                        "name": "enrollment",
                        "in": "path",
                        "required": true,
                        "description": "The enrollment ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "payment_id": {
                                                    "type": "string"
                                                },
                                                "reference": {
                                                    "type": "string"
                                                },
                                                "payment_url": {
                                                    "type": "string"
                                                },
                                                "amount": {
                                                    "type": "number"
                                                },
                                                "currency": {
                                                    "type": "string"
                                                },
                                                "gateway": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "payment_id",
                                                "reference",
                                                "payment_url",
                                                "amount",
                                                "currency",
                                                "gateway"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "403": {
                        "description": "An error",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "message": {
                                            "type": "string",
                                            "description": "Error overview.",
                                            "example": "Payment can only be initiated by the owner of this enrollment"
                                        }
                                    },
                                    "required": [
                                        "message"
                                    ]
                                }
                            }
                        }
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/v1/qr-codes/groups/{group}/generate": {
            "post": {
                "operationId": "qr-codes.generate-group",
                "description": "This endpoint handles QR code generation for a given `SkillGroup`.\n- If the quantity is small (≤ 5), QR codes are generated synchronously and returned immediately.\n- If the quantity is large (> 5), the generation is queued as a background job and a `job_id` is returned,\n  allowing the frontend to poll for completion or notify the user later.\n- An email will be sent to notify the job creator of the job completion.",
                "summary": "Generate QR codes for a specific skill group",
                "tags": [
                    "GroupQrCode"
                ],
                "parameters": [
                    {
                        "name": "group",
                        "in": "path",
                        "required": true,
                        "description": "\n        The skill group for which the QR codes are being generated.",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/GenerateGroupQrCodeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "QR codes generated successfully"
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/GroupQrCodeBatchResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "202": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "QR code generation queued"
                                            ]
                                        },
                                        "estimated_completion": {
                                            "type": "string"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "estimated_completion"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/qr-codes/bulk-generate": {
            "post": {
                "operationId": "qr-codes.bulk-generate",
                "description": "This endpoint queues a job that generates QR codes in bulk for every group\nunder the specified skill. It is designed for heavy operations and will\nalways run asynchronously in the background.",
                "summary": "Bulk generate QR codes for all groups in a given skill",
                "tags": [
                    "GroupQrCode"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/BulkGenerateQrCodeRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "202": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Bulk QR code generation queued"
                                            ]
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "estimated_completion": {
                                                    "type": "string",
                                                    "format": "date-time"
                                                }
                                            },
                                            "required": [
                                                "estimated_completion"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "403": {
                        "$ref": "#/components/responses/AuthorizationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/qr-codes/scan-history/{qrToken}": {
            "get": {
                "operationId": "qr-codes.scan-history",
                "summary": "Get scan history for a QR code",
                "tags": [
                    "GroupQrCode"
                ],
                "parameters": [
                    {
                        "name": "qrToken",
                        "in": "path",
                        "required": true,
                        "schema": {
                            "type": "string"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "QR code scans retrieved successfully."
                                            ]
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "qr_info": {
                                                    "type": "object",
                                                    "properties": {
                                                        "token": {
                                                            "type": "string"
                                                        },
                                                        "skill_title": {
                                                            "type": "string"
                                                        },
                                                        "group_number": {
                                                            "type": "string"
                                                        },
                                                        "mark_value": {
                                                            "type": "string"
                                                        },
                                                        "expires_at": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "token",
                                                        "skill_title",
                                                        "group_number",
                                                        "mark_value",
                                                        "expires_at"
                                                    ]
                                                },
                                                "scans": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/AttendanceResource"
                                                    }
                                                }
                                            },
                                            "required": [
                                                "qr_info",
                                                "scans"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/qr-codes/groups/{group}/attendance-report": {
            "get": {
                "operationId": "qr-codes.attendance-report",
                "description": "`Mentor or Admin` Endpoint to generate attendance report for a specific group.",
                "summary": "Get attendance report for a group",
                "tags": [
                    "GroupQrCode"
                ],
                "parameters": [
                    {
                        "name": "group",
                        "in": "path",
                        "required": true,
                        "description": "The group ID",
                        "schema": {
                            "type": "integer"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Report generated successfully"
                                            ]
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "group_info": {
                                                    "type": "object",
                                                    "properties": {
                                                        "id": {
                                                            "type": "integer"
                                                        },
                                                        "group_number": {
                                                            "type": "integer"
                                                        },
                                                        "skill_title": {
                                                            "type": "string"
                                                        },
                                                        "practical_date": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ],
                                                            "format": "date-time"
                                                        },
                                                        "total_enrolled": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "id",
                                                        "group_number",
                                                        "skill_title",
                                                        "practical_date",
                                                        "total_enrolled"
                                                    ]
                                                },
                                                "students": {
                                                    "type": "array",
                                                    "items": {
                                                        "type": "string"
                                                    },
                                                    "minItems": 0,
                                                    "maxItems": 0,
                                                    "additionalItems": false
                                                }
                                            },
                                            "required": [
                                                "group_info",
                                                "students"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/v1/qr-codes/groups/{group}/list": {
            "get": {
                "operationId": "qr-codes.list-group",
                "description": "`Mentor or Admin` endpoint to list QR codes for a specific group.",
                "summary": "List QR codes for a group with pagination",
                "tags": [
                    "GroupQrCode"
                ],
                "parameters": [
                    {
                        "name": "group",
                        "in": "path",
                        "required": true,
                        "description": "The group ID",
                        "schema": {
                            "type": "integer"
                        }
                    },
                    {
                        "name": "per_page",
                        "in": "query",
                        "schema": {
                            "type": "integer",
                            "minimum": 1,
                            "maximum": 100
                        }
                    },
                    {
                        "name": "status",
                        "in": "query",
                        "schema": {
                            "type": "string",
                            "enum": [
                                "active",
                                "expired",
                                "all"
                            ]
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string"
                                        },
                                        "data": {
                                            "type": "object",
                                            "properties": {
                                                "items": {
                                                    "type": "array",
                                                    "items": {
                                                        "$ref": "#/components/schemas/GroupQrCodeResource"
                                                    }
                                                },
                                                "meta": {
                                                    "type": "object",
                                                    "properties": {
                                                        "current_page": {
                                                            "type": "integer"
                                                        },
                                                        "from": {
                                                            "type": [
                                                                "integer",
                                                                "null"
                                                            ]
                                                        },
                                                        "last_page": {
                                                            "type": "integer"
                                                        },
                                                        "path": {
                                                            "type": "string"
                                                        },
                                                        "per_page": {
                                                            "type": "integer"
                                                        },
                                                        "to": {
                                                            "type": [
                                                                "integer",
                                                                "null"
                                                            ]
                                                        },
                                                        "total": {
                                                            "type": "integer"
                                                        }
                                                    },
                                                    "required": [
                                                        "current_page",
                                                        "from",
                                                        "last_page",
                                                        "path",
                                                        "per_page",
                                                        "to",
                                                        "total"
                                                    ]
                                                },
                                                "links": {
                                                    "type": "object",
                                                    "properties": {
                                                        "first": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "last": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "prev": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        },
                                                        "next": {
                                                            "type": [
                                                                "string",
                                                                "null"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "first",
                                                        "last",
                                                        "prev",
                                                        "next"
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "items",
                                                "meta",
                                                "links"
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/attendance/scan": {
            "post": {
                "operationId": "attendance.scan",
                "description": "This endpoint processes a scanned QR code and records attendance for a student.\n\n- Verifies the QR code exists and is not expired.\n- Confirms the student is enrolled in the relevant skill group.\n- Prevents duplicate attendance for the same day.\n- Records attendance and awards the associated mark value.",
                "summary": "Process QR Code Scan for Attendance",
                "tags": [
                    "GroupQrCode"
                ],
                "requestBody": {
                    "required": true,
                    "content": {
                        "application/json": {
                            "schema": {
                                "$ref": "#/components/schemas/ProcessQrScanRequest"
                            }
                        }
                    }
                },
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "QR Code Processed Successfully"
                                            ]
                                        },
                                        "data": {
                                            "anyOf": [
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "success": {
                                                            "type": "boolean"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "enum": [
                                                                "QR code attendance recorded"
                                                            ]
                                                        },
                                                        "attendance_id": {
                                                            "type": "string"
                                                        },
                                                        "points_awarded": {
                                                            "type": "string"
                                                        },
                                                        "scanned_at": {
                                                            "type": "string"
                                                        },
                                                        "skill_title": {
                                                            "type": "string"
                                                        },
                                                        "group_number": {
                                                            "type": "string"
                                                        }
                                                    },
                                                    "required": [
                                                        "success",
                                                        "message",
                                                        "attendance_id",
                                                        "points_awarded",
                                                        "scanned_at",
                                                        "skill_title",
                                                        "group_number"
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "success": {
                                                            "type": "boolean"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "enum": [
                                                                "Attendance already recorded for today"
                                                            ]
                                                        },
                                                        "error": {
                                                            "type": "string",
                                                            "enum": [
                                                                "DUPLICATE_ATTENDANCE"
                                                            ]
                                                        },
                                                        "existing_attendance": {
                                                            "type": "object",
                                                            "properties": {
                                                                "id": {
                                                                    "type": "string"
                                                                },
                                                                "scanned_at": {
                                                                    "type": "string"
                                                                },
                                                                "points_awarded": {
                                                                    "type": "string"
                                                                }
                                                            },
                                                            "required": [
                                                                "id",
                                                                "scanned_at",
                                                                "points_awarded"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "success",
                                                        "message",
                                                        "error",
                                                        "existing_attendance"
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "success": {
                                                            "type": "boolean"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "enum": [
                                                                "Student not enrolled in this group"
                                                            ]
                                                        },
                                                        "error": {
                                                            "type": "string",
                                                            "enum": [
                                                                "NOT_ENROLLED"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "success",
                                                        "message",
                                                        "error"
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "success": {
                                                            "type": "boolean"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "enum": [
                                                                "QR code has expired"
                                                            ]
                                                        },
                                                        "error": {
                                                            "type": "string",
                                                            "enum": [
                                                                "EXPIRED_QR"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "success",
                                                        "message",
                                                        "error"
                                                    ]
                                                },
                                                {
                                                    "type": "object",
                                                    "properties": {
                                                        "success": {
                                                            "type": "boolean"
                                                        },
                                                        "message": {
                                                            "type": "string",
                                                            "enum": [
                                                                "Invalid QR code"
                                                            ]
                                                        },
                                                        "error": {
                                                            "type": "string",
                                                            "enum": [
                                                                "INVALID_QR"
                                                            ]
                                                        }
                                                    },
                                                    "required": [
                                                        "success",
                                                        "message",
                                                        "error"
                                                    ]
                                                }
                                            ]
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "422": {
                        "$ref": "#/components/responses/ValidationException"
                    }
                }
            }
        },
        "/v1/{user}/mentors": {
            "get": {
                "operationId": "get-mentor-profile",
                "summary": "Get mentor profile details",
                "tags": [
                    "MentorProfile"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "description": "The user ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Mentor Profile Details Fetched Successfully"
                                            ]
                                        },
                                        "data": {
                                            "$ref": "#/components/schemas/MentorProfileResource"
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "error": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "success",
                                                "message",
                                                "error"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Mentor profile not found"
                                                    ]
                                                },
                                                "error": {
                                                    "type": "integer",
                                                    "enum": [
                                                        404
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "success",
                                                "message",
                                                "error"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/v1/{user}/mentors/get-assigned-skills": {
            "get": {
                "operationId": "get-assigned-skills",
                "summary": "Get skills assigned to a mentor",
                "tags": [
                    "MentorProfile"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "description": "The user ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Assigned Skills Retrieved Successfully"
                                            ]
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SkillResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "error": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "success",
                                                "message",
                                                "error"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Mentor profile not found"
                                                    ]
                                                },
                                                "error": {
                                                    "type": "integer",
                                                    "enum": [
                                                        404
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "success",
                                                "message",
                                                "error"
                                            ]
                                        }
                                    ]
                                }
                            }
                        }
                    },
                    "401": {
                        "$ref": "#/components/responses/AuthenticationException"
                    },
                    "404": {
                        "$ref": "#/components/responses/ModelNotFoundException"
                    }
                }
            }
        },
        "/v1/{user}/mentors/get-skill-groups": {
            "get": {
                "operationId": "get-skill-groups",
                "summary": "Get skill groups for mentor's assigned skills",
                "tags": [
                    "MentorProfile"
                ],
                "parameters": [
                    {
                        "name": "user",
                        "in": "path",
                        "required": true,
                        "description": "The user ID",
                        "schema": {
                            "type": "string",
                            "format": "uuid"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "type": "object",
                                    "properties": {
                                        "success": {
                                            "type": "boolean"
                                        },
                                        "message": {
                                            "type": "string",
                                            "enum": [
                                                "Skill Groups Retrieved Successfully"
                                            ]
                                        },
                                        "data": {
                                            "type": "array",
                                            "items": {
                                                "$ref": "#/components/schemas/SkillGroupResource"
                                            }
                                        }
                                    },
                                    "required": [
                                        "success",
                                        "message",
                                        "data"
                                    ]
                                }
                            }
                        }
                    },
                    "400": {
                        "description": "",
                        "content": {
                            "application/json": {
                                "schema": {
                                    "anyOf": [
                                        {
                                            "type": "object",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string"
                                                },
                                                "error": {
                                                    "type": "string"
                                                }
                                            },
                                            "required": [
                                                "success",
                                                "message",
                                                "error"
                                            ]
                                        },
                                        {
                                            "type": "object",
                                            "properties": {
                                                "success": {
                                                    "type": "boolean"
                                                },
                                                "message": {
                                                    "type": "string",
                                                    "enum": [
                                                        "Mentor profile not found"
                                                    ]
                                                },
                                                "error": {
                                                    "type": "integer",
                                                    "enum": [
                                                        404
                                                    ]
                                                }
                                            },
                                            "required": [
                                                "success",
                                                "message",
                                                "error"
[...]
