{"openapi":"3.1.0","info":{"title":"Kwasu VTE","version":"0.0.1","description":"API documentation for managing Kwara State University Vocational Training System"},"servers":[{"url":"https://timadey.alwaysdata.net/api"}],"security":[{"http":[]}],"paths":{"/v1/academic-sessions":{"get":{"operationId":"academicSession.index","description":"Retrieves a list of all academic sessions including both active and inactive ones.\nThe response includes session details such as name, start/end dates, and active status.","summary":"Get all academic sessions","tags":["AcademicSession"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["All session fetched successfully"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/AcademicSessionResource"}}},"required":["success","message","data"]}}}}}},"post":{"operationId":"academicSession.store","description":"Creates a new academic session with the provided details. The session will be\ncreated in an inactive state by default.\n\nEnsure academic session dates are in the future i.e. after today.","summary":"Create a new academic session","tags":["AcademicSession"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","maxLength":255},"starts_at":{"type":["string","null"],"format":"date-time"},"ends_at":{"type":["string","null"],"format":"date-time"}},"required":["name"]}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Academic session created successfully"]},"data":{"$ref":"#/components/schemas/AcademicSessionResource"}},"required":["success","message","data"]}}}},"422":{"$ref":"#/components/responses/ValidationException"}}}},"/v1/academic-sessions/{academicSession}/start":{"post":{"operationId":"academicSession.start","description":"Activates the specified academic session and automatically deactivates any\ncurrently active session.\n\n- An academic session expires when it's end date is already less than or equal to today","summary":"Start an academic session","tags":["AcademicSession"],"parameters":[{"name":"academicSession","in":"path","required":true,"description":"The academic session ID","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Academic session started successfully"]},"data":{"$ref":"#/components/schemas/AcademicSessionResource"}},"required":["success","message","data"]}}}},"404":{"$ref":"#/components/responses/ModelNotFoundException"}}}},"/v1/academic-sessions/{academicSession}/end":{"post":{"operationId":"academicSession.end","description":"Deactivates the specified academic session. Only currently active sessions can be ended.","summary":"End an academic session","tags":["AcademicSession"],"parameters":[{"name":"academicSession","in":"path","required":true,"description":"The academic session ID","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Academic session ended successfully"]},"data":{"$ref":"#/components/schemas/AcademicSessionResource"}},"required":["success","message","data"]}}}},"404":{"$ref":"#/components/responses/ModelNotFoundException"}}}},"/v1/academic-sessions/{academicSession}":{"patch":{"operationId":"academicSession.update","summary":"Update an academic session","tags":["AcademicSession"],"parameters":[{"name":"academicSession","in":"path","required":true,"description":"The academic session ID","schema":{"type":"integer"}}],"requestBody":{"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string","maxLength":255},"starts_at":{"type":"string","format":"date-time"},"ends_at":{"type":"string","format":"date-time"}}}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Academic session updated successfully"]},"data":{"$ref":"#/components/schemas/AcademicSessionResource"}},"required":["success","message","data"]}}}},"404":{"$ref":"#/components/responses/ModelNotFoundException"},"422":{"$ref":"#/components/responses/ValidationException"}}}},"/v1/users/{user}/enrollment":{"post":{"operationId":"enroll-for-skill","description":"Enroll a student user for a particular skill in the current active session.\nThere must be an active academic session and it's must still be valid (not expired)\n\n**Enrollment Status**","summary":"Skill Enrollment","tags":["Enrollment"],"parameters":[{"name":"user","in":"path","required":true,"description":"The user ID","schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"skill_id":{"type":"string","format":"uuid","description":"The skill the student wants to enroll for"}},"required":["skill_id"]}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"data":{"$ref":"#/components/schemas/EnrollmentResource"}},"required":["success","message","data"]}}}},"401":{"$ref":"#/components/responses/AuthenticationException"},"404":{"$ref":"#/components/responses/ModelNotFoundException"},"422":{"$ref":"#/components/responses/ValidationException"}}},"get":{"operationId":"get-user-enrollment","description":"Get the enrollment made for this particular student","summary":"Get student enrollment","tags":["Enrollment"],"parameters":[{"name":"user","in":"path","required":true,"description":"The user ID","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Enrollment retrieved successfully."]},"data":{"$ref":"#/components/schemas/EnrollmentResource"}},"required":["success","message","data"]}}}},"401":{"$ref":"#/components/responses/AuthenticationException"},"404":{"$ref":"#/components/responses/ModelNotFoundException"}}}},"/v1/enrollments":{"get":{"operationId":"get-session-enrollments","description":"`Admin:` Get all enrollments made for a particular academic session and/or skill including some details of the student and the skill.\nIf no academic session is specified, the current active session will be used.\nIf no skill is specified, all skills enrollments during that session will be included.","summary":"Get session enrollments","tags":["Enrollment"],"parameters":[{"name":"academic_session_id","in":"query","schema":{"type":"integer"}},{"name":"skill_id","in":"query","schema":{"type":"string","format":"uuid"}},{"name":"per_page","in":"query","description":"The number of items per page for pagination","schema":{"type":"integer","minimum":1,"maximum":100}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Enrollments retrieved successfully."]},"data":{"type":"object","properties":{"items":{"type":"string"},"meta":{"type":"string"},"links":{"type":"string"}},"required":["items","meta","links"]}},"required":["success","message","data"]}}}},"401":{"$ref":"#/components/responses/AuthenticationException"},"422":{"$ref":"#/components/responses/ValidationException"}}}},"/v1/enrollments/{enrollmentId}":{"get":{"operationId":"get-enrollment-by-id","description":"`Admin:` Get a comprehensive detail about a particular enrollment using it's ID","summary":"Get enrollment by ID","tags":["Enrollment"],"parameters":[{"name":"enrollmentId","in":"path","required":true,"schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Enrollment retrieved successfully."]},"data":{"$ref":"#/components/schemas/EnrollmentResource"}},"required":["success","message","data"]}}}},"400":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string"},"error":{"type":"integer","enum":[404]}},"required":["success","message","error"]}}}},"401":{"$ref":"#/components/responses/AuthenticationException"}}}},"/v1/enrollments/{enrollment}/pay":{"get":{"operationId":"pay-for-enrollment","description":"`Strictly Owner:` Initiate payment for a particular enrollment using the enrollment ID.\nThis will create a payment record and return the payment details including the payment gateway URL.\nIf there is already a payment record for this enrollment that has not been paid, it will return the existing payment details.","summary":"Payment for enrollment","tags":["Enrollment"],"parameters":[{"name":"enrollment","in":"path","required":true,"description":"The enrollment ID","schema":{"type":"integer"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Payment initiated successfully."]},"data":{"type":"array","items":{}}},"required":["success","message","data"]}}}},"401":{"$ref":"#/components/responses/AuthenticationException"},"403":{"description":"An error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview.","example":"Payment can only be initiated by the owner of this enrollment"}},"required":["message"]}}}},"404":{"$ref":"#/components/responses/ModelNotFoundException"}}}},"/v1/skills":{"get":{"operationId":"skills.index","description":"Retrieves a paginated list of all available skills in the system.\nEach skill includes enrollment and group counts when available.","summary":"Get all skills","tags":["Skill"],"responses":{"200":{"description":"Paginated set of `SkillResource`","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SkillCollection"}}}}}},"post":{"operationId":"skills.store","description":"Creates a new skill with the provided configuration. Skills can have various\nrestrictions including student group limits, date ranges, weekend exclusions,\nand level-based access control.","summary":"Create a new skill","tags":["Skill"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SkillRequest"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Skill created successfully"]},"data":{"$ref":"#/components/schemas/SkillResource"}},"required":["success","message","data"]}}}},"403":{"$ref":"#/components/responses/AuthorizationException"},"422":{"$ref":"#/components/responses/ValidationException"}}}},"/v1/skills/{skill}":{"get":{"operationId":"skills.show","description":"Retrieves detailed information about a specific skill by its ID.\nIncludes all skill configuration, metadata, and related counts.","summary":"Get a specific skill","tags":["Skill"],"parameters":[{"name":"skill","in":"path","required":true,"description":"The skill ID","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Skill retrieved successfully"]},"data":{"$ref":"#/components/schemas/SkillResource"}},"required":["success","message","data"]}}}},"404":{"$ref":"#/components/responses/ModelNotFoundException"}}},"patch":{"operationId":"skills.update","description":"Updates an existing skill with new configuration data. All fields are optional\nand only provided fields will be updated. The skill's groups and enrollments\nmay be affected by certain configuration changes.","summary":"Update an existing skill","tags":["Skill"],"parameters":[{"name":"skill","in":"path","required":true,"description":"The skill ID","schema":{"type":"string","format":"uuid"}}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/UpdateSkillRequest"}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Skill updated successfully"]},"data":{"$ref":"#/components/schemas/SkillResource"}},"required":["success","message","data"]}}}},"403":{"$ref":"#/components/responses/AuthorizationException"},"404":{"$ref":"#/components/responses/ModelNotFoundException"},"422":{"$ref":"#/components/responses/ValidationException"}}},"delete":{"operationId":"skills.destroy","description":"Permanently deletes a skill from the system. This action cannot be undone.\nAll associated groups and enrollments will also be removed. Use with caution.","summary":"Delete a skill","tags":["Skill"],"parameters":[{"name":"skill","in":"path","required":true,"description":"The skill ID","schema":{"type":"string","format":"uuid"}}],"responses":{"204":{"description":"No content"},"404":{"$ref":"#/components/responses/ModelNotFoundException"}}}},"/v1/skills/{skill}/date-range":{"post":{"operationId":"skills.updateDateRange","description":"In the **current academic session**, update a particular range at which this skill\nwill be holding practicals. The date range must be between the range of dates of the\nacademic session and must be after today. Note that practical dates will be assigned\nto group from the skill date range.","summary":"Update Skill Date Range","tags":["Skill"],"parameters":[{"name":"skill","in":"path","required":true,"description":"The skill ID","schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"date_range_start":{"type":"string","format":"date-time","description":"The date when this skill will start practicals (in the current academic session)"},"date_range_end":{"type":"string","format":"date-time","description":"The date when this skill will end practicals"}},"required":["date_range_start","date_range_end"]}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Skill updated successfully"]},"data":{"anyOf":[{"type":"object"},{"$ref":"#/components/schemas/SkillDateRange"}]}},"required":["success","message","data"]}}}},"404":{"$ref":"#/components/responses/ModelNotFoundException"},"422":{"$ref":"#/components/responses/ValidationException"}}},"get":{"operationId":"skills.getDateRange","description":"Get the date range for this skill in the current academic session\nYou may optionally provide the academic session id if you want to get for another academic session\nelse the system will automatically get for the current session.","summary":"Get Skill Date Range","tags":["Skill"],"parameters":[{"name":"skill","in":"path","required":true,"description":"The skill ID","schema":{"type":"string","format":"uuid"}},{"name":"academic-session","in":"query","description":"The practical date range for this skill in this academic session id.","schema":{"type":"string"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Skill date range retrieved successfully"]},"data":{"anyOf":[{"$ref":"#/components/schemas/SkillDateRange"},{"type":"null"}]}},"required":["success","message","data"]}}}},"404":{"$ref":"#/components/responses/ModelNotFoundException"}}}},"/v1/users/{user}/student":{"post":{"operationId":"students.createProfile","description":"Create a new student profile for the user.\n- If the authenticated user is not an admin, then the `user` id in the param must belong to the authenticated user.\n- The `user` id must also belong to a student (a user with the student role)\n- ⚠️ Only admins can update certain field after creation including; department, faculty, matric number\nTherefore, students are advised to open their eyes when creating their profile","summary":"Create a new student profile","tags":["StudentProfile"],"parameters":[{"name":"user","in":"path","required":true,"description":"The user id of the user you want to create a student profile for","schema":{"type":"string","format":"uuid"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/StudentProfileRequest"}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Student profile created successfully"]},"data":{"$ref":"#/components/schemas/StudentProfileResource"}},"required":["success","message","data"]}}}},"401":{"$ref":"#/components/responses/AuthenticationException"},"404":{"$ref":"#/components/responses/ModelNotFoundException"},"422":{"$ref":"#/components/responses/ValidationException"}}},"get":{"operationId":"students.getProfile","description":"Get the current authenticated user's student profile.","summary":"Get student profile","tags":["StudentProfile"],"parameters":[{"name":"user","in":"path","required":true,"description":"The user ID","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Student profile retrieved successfully"]},"data":{"$ref":"#/components/schemas/StudentProfileResource"}},"required":["success","message","data"]}}}},"401":{"$ref":"#/components/responses/AuthenticationException"},"404":{"$ref":"#/components/responses/ModelNotFoundException"}}}},"/v1/users/{user}/student/available-skills":{"get":{"operationId":"students.getAvailableSkills","description":"Get the available skills this student can register for based on their level and as set by admin","summary":"Get available skills","tags":["StudentProfile"],"parameters":[{"name":"user","in":"path","required":true,"description":"The user ID","schema":{"type":"string","format":"uuid"}}],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Here are the skills you can enroll for"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/SkillResource"}}},"required":["success","message","data"]}}}},"401":{"$ref":"#/components/responses/AuthenticationException"},"404":{"$ref":"#/components/responses/ModelNotFoundException"}}}},"/v1/users/students":{"get":{"operationId":"students.allStudents","description":"Get the list of all student on the system","summary":"Get all students","tags":["StudentProfile"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Students retrieved successfully"]},"data":{"$ref":"#/components/schemas/StudentProfileCollection"}},"required":["success","message","data"]}}}},"401":{"$ref":"#/components/responses/AuthenticationException"}}}},"/v1/users/auth/login":{"post":{"operationId":"user.login","summary":"Get a JWT via given credentials","tags":["User"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"email":{"type":"string","format":"email","maxLength":100},"password":{"type":"string","minLength":6}},"required":["email","password"]}}}},"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Token refreshed!"]},"data":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string","enum":["bearer"]},"expires_in":{"type":"string"}},"required":["access_token","token_type","expires_in"]}},"required":["success","message","data"]}}}},"401":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Invalid credentials"]},"error":{"type":"object","properties":{"error":{"type":"string","enum":["Unauthorized"]}},"required":["error"]}},"required":["success","message","error"]}}}},"422":{"$ref":"#/components/responses/ValidationException"}},"security":[]}},"/v1/users/auth/register":{"post":{"operationId":"user.register","description":"This endpoint is used to register a new student.\nThe `student` role will be assigned to the user registered.","summary":"Register a new student","tags":["User"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"first_name":{"type":"string","minLength":2,"maxLength":100},"last_name":{"type":"string","minLength":2,"maxLength":100},"email":{"type":"string","format":"email","maxLength":100},"password":{"type":"string","minLength":6},"password_confirmation":{"type":"string","minLength":6}},"required":["first_name","last_name","email","password","password_confirmation"]}}}},"responses":{"201":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["User created successfully"]},"data":{"type":"object","properties":{"user":{"type":"string"}},"required":["user"]}},"required":["success","message","data"]}}}},"422":{"$ref":"#/components/responses/ValidationException"}},"security":[]}},"/v1/users/auth/refresh":{"post":{"operationId":"user.refresh","summary":"Refresh a token","tags":["User"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Token refreshed!"]},"data":{"type":"object","properties":{"access_token":{"type":"string"},"token_type":{"type":"string","enum":["bearer"]},"expires_in":{"type":"string"}},"required":["access_token","token_type","expires_in"]}},"required":["success","message","data"]}}}}}}},"/v1/users/auth/logout":{"post":{"operationId":"user.logout","summary":"Log the user out (Invalidate the token)","tags":["User"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Successfully logged out"]},"data":{"type":"string"}},"required":["success","message","data"]}}}},"401":{"$ref":"#/components/responses/AuthenticationException"}}}},"/v1/users/auth/me":{"get":{"operationId":"user.me","summary":"Get the authenticated User","tags":["User"],"responses":{"200":{"description":"","content":{"application/json":{"schema":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["See you!"]},"data":{"type":"string"}},"required":["success","message","data"]}}}},"401":{"$ref":"#/components/responses/AuthenticationException"}}}}},"components":{"securitySchemes":{"http":{"type":"http","scheme":"bearer","bearerFormat":"JWT"}},"schemas":{"AcademicSession":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"starts_at":{"type":["string","null"]},"ends_at":{"type":["string","null"]},"active":{"type":"boolean"},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"},"deleted_at":{"type":["string","null"],"format":"date-time"}},"required":["id","name","starts_at","ends_at","active","created_at","updated_at","deleted_at"],"title":"AcademicSession"},"AcademicSessionResource":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"starts_at":{"type":["string","null"]},"ends_at":{"type":["string","null"]},"active":{"type":"boolean"},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"},"groups_count":{"type":"integer","description":"Include groups count if relationship is loaded"}},"required":["id","name","starts_at","ends_at","active","created_at","updated_at"],"title":"AcademicSessionResource"},"AllowedLevels":{"type":"string","enum":["100","200","300","400","500"],"title":"AllowedLevels"},"EnrollmentResource":{"type":"object","properties":{"id":{"type":"integer"},"status":{"$ref":"#/components/schemas/EnrollmentStatus"},"reference":{"type":["string","null"]},"meta":{"type":["array","null"],"items":{}},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"},"academicSession":{"$ref":"#/components/schemas/AcademicSession"},"skill":{"$ref":"#/components/schemas/Skill"},"student":{"$ref":"#/components/schemas/User"},"group":{"$ref":"#/components/schemas/SkillGroup"}},"required":["id","status","reference","meta","created_at","updated_at"],"title":"EnrollmentResource"},"EnrollmentStatus":{"type":"string","enum":["pending_payment","paid","assigned","cancelled"],"title":"EnrollmentStatus"},"Skill":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"description":{"type":["string","null"]},"max_groups":{"type":"integer"},"min_students_per_group":{"type":"integer"},"max_students_per_group":{"type":["integer","null"]},"date_range_start":{"type":["string","null"]},"date_range_end":{"type":["string","null"]},"exclude_weekends":{"type":"boolean"},"allowed_levels":{"type":["array","null"],"items":{}},"meta":{"type":["array","null"],"items":{}},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"},"deleted_at":{"type":["string","null"],"format":"date-time"}},"required":["id","title","description","max_groups","min_students_per_group","max_students_per_group","date_range_start","date_range_end","exclude_weekends","allowed_levels","meta","created_at","updated_at","deleted_at"],"title":"Skill"},"SkillCollection":{"type":"object","properties":{"success":{"type":"boolean"},"message":{"type":"string","enum":["Skills retrieved successfully"]},"data":{"type":"array","items":{"$ref":"#/components/schemas/SkillResource"}}},"required":["success","message","data"],"title":"SkillCollection"},"SkillDateRange":{"type":"object","properties":{"id":{"type":"integer"},"skill_id":{"type":"string"},"academic_session_id":{"type":"integer"},"date_range_start":{"type":"string"},"date_range_end":{"type":"string"},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"}},"required":["id","skill_id","academic_session_id","date_range_start","date_range_end","created_at","updated_at"],"title":"SkillDateRange"},"SkillGroup":{"type":"object","properties":{"id":{"type":"integer"},"skill_id":{"type":"string"},"academic_session_id":{"type":"integer"},"group_number":{"type":"integer"},"assigned_practical_date":{"type":["string","null"],"format":"date-time"},"current_student_count":{"type":"integer"},"capacity":{"type":["integer","null"]},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"},"deleted_at":{"type":["string","null"],"format":"date-time"}},"required":["id","skill_id","academic_session_id","group_number","assigned_practical_date","current_student_count","capacity","created_at","updated_at","deleted_at"],"title":"SkillGroup"},"SkillRequest":{"type":"object","properties":{"title":{"type":"string","minLength":5,"maxLength":255},"description":{"type":["string","null"],"minLength":5,"maxLength":255},"max_groups":{"type":"integer","description":"The maximum number of groups the skill should always have","minimum":1},"min_students_per_group":{"type":"integer","description":"The minimum number of student that should be in a particular skill group.\nThis is the actual number student we want in the group","minimum":1},"max_students_per_group":{"type":["integer","null"],"description":"Optionally, you can set the max number if student that should however be in a group.","minimum":1},"meta":{"type":["array","null"],"items":{"type":"string"}},"allowed_levels":{"type":"array","description":"An array of the levels that are allowed to take this skills. If empty, it is assumed everyone can take it","items":{"$ref":"#/components/schemas/AllowedLevels"}}},"required":["title","max_groups","min_students_per_group","allowed_levels"],"title":"SkillRequest"},"SkillResource":{"type":"object","properties":{"id":{"type":"string"},"title":{"type":"string"},"description":{"type":["string","null"]},"max_groups":{"type":"integer"},"min_students_per_group":{"type":"integer"},"max_students_per_group":{"type":["integer","null"]},"exclude_weekends":{"type":"boolean","description":"'date_range_start' => $this->date_range_start,\n'date_range_end' => $this->date_range_end,"},"allowed_levels":{"type":["array","null"],"items":{}},"meta":{"type":["array","null"],"items":{}},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"},"enrollments_count":{"type":"integer"},"groups_count":{"type":"integer"}},"required":["id","title","description","max_groups","min_students_per_group","max_students_per_group","exclude_weekends","allowed_levels","meta","created_at","updated_at"],"title":"SkillResource"},"StudentProfileCollection":{"type":"string","title":"StudentProfileCollection"},"StudentProfileRequest":{"type":"object","properties":{"matric_number":{"type":"string","minLength":4,"maxLength":16},"student_level":{"$ref":"#/components/schemas/AllowedLevels"},"department":{"type":"string","minLength":5,"maxLength":255},"faculty":{"type":"string","minLength":5,"maxLength":255},"phone":{"type":"string"},"gender":{"type":"string","enum":["male","female"]},"meta":{"type":["string","null"]}},"required":["matric_number","student_level","department","faculty","phone","gender"],"title":"StudentProfileRequest"},"StudentProfileResource":{"type":"object","properties":{"id":{"type":"integer"},"matric_number":{"type":"string"},"student_level":{"type":"string"},"department":{"type":"string"},"faculty":{"type":["string","null"]},"phone":{"type":["string","null"]},"gender":{"type":["string","null"]},"can_enroll":{"type":"boolean"},"meta":{"type":["array","null"],"items":{}},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"},"full_name":{"type":"string"},"student_level_int":{"type":"string"},"attendances_count":{"type":"string"},"enrollments_count":{"type":"string"},"user_id":{"type":"string"}},"required":["id","matric_number","student_level","department","faculty","phone","gender","can_enroll","meta","created_at","updated_at","full_name","student_level_int","attendances_count","enrollments_count","user_id"],"title":"StudentProfileResource"},"UpdateSkillRequest":{"type":"object","properties":{"title":{"type":"string","maxLength":255},"description":{"type":"string","minLength":5,"maxLength":255},"max_groups":{"type":"integer","description":"The maximum number of groups the skill should always have","minimum":1},"min_students_per_group":{"type":"integer","description":"The minimum number of student that should be in a particular skill group.\nThis is the actual number student we want in the group","minimum":1},"max_students_per_group":{"type":"integer","description":"Optionally, you can set the max number if student that should however be in a group.","minimum":1},"meta":{"type":["array","null"],"items":{"type":"string"}},"allowed_levels":{"type":"array","description":"An array of the levels that are allowed to take this skills","items":{"$ref":"#/components/schemas/AllowedLevels"}}},"title":"UpdateSkillRequest"},"User":{"type":"object","properties":{"id":{"type":"string"},"first_name":{"type":"string"},"last_name":{"type":"string"},"email":{"type":"string"},"email_verified_at":{"type":["string","null"],"format":"date-time"},"role":{"type":"string"},"created_at":{"type":["string","null"],"format":"date-time"},"updated_at":{"type":["string","null"],"format":"date-time"}},"required":["id","first_name","last_name","email","email_verified_at","role","created_at","updated_at"],"title":"User"}},"responses":{"ValidationException":{"description":"Validation error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Errors overview."},"errors":{"type":"object","description":"A detailed description of each field that failed validation.","additionalProperties":{"type":"array","items":{"type":"string"}}}},"required":["message","errors"]}}}},"AuthenticationException":{"description":"Unauthenticated","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}},"ModelNotFoundException":{"description":"Not found","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}},"AuthorizationException":{"description":"Authorization error","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Error overview."}},"required":["message"]}}}}}}}